In [1]:
#QUESTUION = When to use for loop or while loop with example

In [2]:
#ANSWER
#FOR LOOP= if exact number of iteration or sequence is known then a For loop is used or prefered.
#example:

for i in range(1,12):
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [5]:
#WHILE LOOP =if unknown termination condition or input validation condition is their then a while loop is used 
#example:
valid_input = False
while not valid_input:
    age=int( input("enter the age "))
    if  age>=18:
        valid_input= True
        print( "valid age" , age)
        
    else: 
        print("invalid age ")

enter the age  4

invalid age

enter the age  12

invalid age

enter the age  34

valid age 34

In [6]:
#QUESTION 2:Program to print the sum and product of first 10 natural number using for loop and while loop
#FOR LOOP

In [11]:
sum1=0
product=1
for i in range(1,10):
    sum1=sum1+i
    product = product * i
    
print("sum of first 10 natural number is" ,sum1 ,
      "product of first 10 natural numberis", product)

sum of first 10 natural number is 45 product of first 10 natural numberis 362880

In [12]:
#while loop
sum2=0
product2=1
n=1
while n<=10:
    sum2=sum2+i
    product2 = product2 * i
    n=n+1

print("sum of first 10 natural number is" ,sum1 ,
      "product of first 10 natural numberis", product)

sum of first 10 natural number is 45 product of first 10 natural numberis 362880

In [18]:


#QUESTION 3 =Electricity bill
unit=int(input ("enter the unit consumed"))
bill=0
if unit<=100:
    bill=unit*4.5
elif unit>100 and unit<=200:
    bill= (100*4.5) +(unit-100)*6
elif unit >200 and unit<=300:
    bill = (100*4.5) + (100*6) + (unit-200)*10
elif unit>300:
    bill= (100*4.5) + (100*6) +(100*10) +(unit-300)*20
    
print ("bill is", bill)

enter the unit consumed 310

bill is 2250.0

In [3]:



#QUESTION 4=Cube of a number of list from 1 to 100
#FOR LOOP
l=[ i for i in range(1,101)]

In [4]:
l1=[]
for i in l:
    if (i**3)%4==0 or (i**3)%5==0:
        l1.append(i)

In [5]:
l1

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [12]:



#QUESTION 5: Vowels in string 
s="I want to become a data scientist"
count =0
for i in s:
    if i== 'a' or i=='e' or i=='i' or i=='o'or i=='u':
        count =count+1
    
count

11